<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="~/css/sb-admin.min.css" />
	<link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-free/css/all.min.css" >
	@RenderSection("styles", required: false)
	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		@RenderBody()
	</div>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>

	@RenderSection("scripts", required: false)
</body>
</html>
